%h1.heading
  = "Editing todo %s" % @todo.id
  
- semantic_form_for(@todo) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', todos_path