%h1.heading
  = 'New Todo'
  
- semantic_form_for(@todo) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', todos_path