#home.edgetoedge.form{ :selected => "true" }
  .toolbar
    %h1
      Todos
    %a.btn2.slideup{ :href => "#add" }
      Add
  %form
    %ul.incomplete
      - for item in @todo.incompletes
        = render :partial => 'items/item', :locals => {:item => item}
    %h4
      Completed
    %ul.complete
      - for item in @todo.completes
        = render :partial => 'items/item', :locals => {:item => item}
#add.edit
  %form
    .toolbar
      %h1
        New Todo
      %a.btn2.goback{ :href => "#" }
        Cancel
    %ul
      %li
        %input#todo{ :placeholder => "Enter your todo...", :type => "text" }
    %a.whiteButton{ :href => "#", :style => "margin: 10px" }
      Add