<!doctype html>
%html
  %head
    %meta{ :charset => "UTF-8" }
    %title
      jQTodo &beta;
    = stylesheet_link_tag 'jqtouch', '/themes/jqt/theme.css', 'application'
    = javascript_include_tag 'jquery', 'jqtouch.min', 'application'    
  %body
    = yield
